node_modules

/.cache
/build
.env
coverage

# Yarn PnP
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
